/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 80px;
  font-weight: 800;
}

h2 {
  font-size: 56px;
  font-weight: 600;
}

h3 {
  font-size: 45px;
  font-weight: 700;
}

h4 {
  font-size: 25px;
  font-weight: 600;
}

#header #banner .hero-banner .banner-content button {
  border: none;
  background-color: #4A4A4B;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
  padding: 1rem;
}

.col-2 {
  width: 16.6666666667%;
  padding: 1rem;
}

.col-3 {
  width: 25%;
  padding: 1rem;
}

.col-4 {
  width: 33.3333333333%;
  padding: 1rem;
}

.col-5 {
  width: 41.6666666667%;
  padding: 1rem;
}

.col-6 {
  width: 50%;
  padding: 1rem;
}

.col-7 {
  width: 58.3333333333%;
  padding: 1rem;
}

.col-8 {
  width: 66.6666666667%;
  padding: 1rem;
}

.col-9 {
  width: 75%;
  padding: 1rem;
}

.col-10 {
  width: 83.3333333333%;
  padding: 1rem;
}

.col-11 {
  width: 91.6666666667%;
  padding: 1rem;
}

.col-12 {
  width: 100%;
  padding: 1rem;
}

.p-left-0 {
  padding-left: 0;
}

.p-right-0 {
  padding-right: 0;
}

@media only screen and (max-width: 1023px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-md-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-md-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-md-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-md-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-md-left-0 {
    padding-left: 0;
  }
  .p-md-right-0 {
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-sm-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-sm-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-sm-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-sm-12 {
    width: 100%;
    padding: 1rem;
  }
  .p-sm-left-0 {
    padding-left: 0;
  }
  .p-sm-right-0 {
    padding-right: 0;
  }
}
#header #nav {
  background-color: white;
}
#header #nav .navbar {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header #nav .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
#header #nav .navbar ul li a {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 0.6s;
}
#header #nav .navbar ul li a:hover {
  color: #FE2122;
}
#header #nav .navbar .nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
#header #nav .navbar .nav-icons i {
  transition: 0.6s;
}
#header #nav .navbar .nav-icons i:hover {
  color: #FE2122;
}
#header #banner {
  background-color: #F0F0F2;
}
#header #banner .hero-banner .banner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
  padding-left: 5rem;
  gap: 2rem;
}
#header #banner .hero-banner .banner-content h1 {
  max-width: 80%;
  color: #0B1C39;
}
#header #banner .hero-banner .banner-content p {
  color: #4A4A4B;
  max-width: 70%;
}
#header #banner .hero-banner .banner-content button {
  margin-top: 1rem;
}
#header #banner .hero-banner .col-4 {
  padding: 0;
}

#main #new-arrivals .new-arrive {
  margin-top: 6rem;
  margin-bottom: 3rem;
  padding-left: 12rem;
}
#main #new-arrivals .cards {
  justify-content: center;
}
#main #new-arrivals .cards .card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.3rem;
}
#main #new-arrivals .cards .card img {
  width: 100%;
  transition: 0.4s;
}
#main #new-arrivals .cards .card img:hover {
  transform: scale(1.009);
}
#main #new-arrivals .cards .card p {
  color: red;
}
#main #img-galery img1 {
  width: 100%;
}
#main #img-galery img1 img {
  width: 100%;
}/*# sourceMappingURL=main.css.map */